/* Toast */

#toast{

    position:fixed;
    top:25px;
    right:25px;
    background:#10b981;
    color:white;
    padding:15px 25px;
    border-radius:8px;
    box-shadow:0 8px 20px rgba(0,0,0,.2);
    opacity:0;
    transition:.4s;
    z-index:1000;

}

#toast.show{

    opacity:1;

}

/* Modal */

.modal{

    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:999;

}

.modal-content{

    width:350px;
    background:white;
    border-radius:12px;
    padding:25px;
    text-align:center;

}

.modal-buttons{

    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:15px;

}

.danger-btn{

    background:#ef4444;

}

.danger-btn:hover{

    background:#dc2626;

}